kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: "{{ storageClassName }}"
provisioner: "{{ storageClassProvisioner }}"
reclaimPolicy: "{{ storageClassReclaimPolicy }}"
volumeBindingMode: "{{ storageClassVolBindingMode }}"
