#!/usr/bin/env bash
echo "Starting to cleanup old exports at $(date +"%Y%m%d_%H%M%S.%N")"
nohup {{ roleProfileHome }}/PortalServer/bin/xmlaccess.sh -user {{ roleWpsAdminUser }} -password {{ roleWpsAdminPassword }} -url http://localhost:10039/wps/config -in {{ roleExportXmlFile }} -out {{ __outputFile }} &
exit 0
