##
## Rarse the xmlAccess outfile  for status result=ok
##
import xml.etree.ElementTree as ET
tree1 = ET.parse("{{ __outputFile }}.cut")
root1 = tree1.getroot()
if (root1 != None):
    statusNodes = root1.findall("./status")
    result = ""
    for statusNode in statusNodes:
        try:
            element = statusNode.get("element")
            result = statusNode.get("result")
            print "Element: %s \t\t Result: %s" % (element, result)
        except:
            pass
    if (result == "ok"):
        print ("Overall result: %s") % result
    else:
        raise Exception, "Result not ok"
