api_version: "v1"
kind: "Secret"
metadata:
  name: "{{ secretName }}"
  namespace: "{{ secretNs }}"
type: "{{ secretType }}"
data:
{#  J2 template to build the data portion of secrets #}
{% for thisSecret in secretFiles %}
  {{ thisSecret.secretFile }}: {{ thisSecret.fileValue | b64encode }}
{% endfor %}
